
@{
    ViewBag.Title = "Akuamarin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>
   <div>
        <section>
     
            <main>
                <h1>AKUAMARİN / AQUAMARİNE (RAHATLAMA TAŞI)</h1>
                <img id="akikrsm" src="~/images/akuaramin2.jpg" alt="" width="400" height="300" />
                <p class="akiyazı">
                    <h2>Özellikleri</h2>
                    <ul>
                        <li>Boğaz ve Boğazda bulunan enfeksiyonların iyileşmesinde yardımcı olur.</li>
                        <li>Rahatlama taşıdır stresten korur doğru duyguların ön plana çıkmasında yardımcı olur </li>
                    </ul>

                    <h3> BURÇLARI;</h3>
                    <ul>
                        <li>KOÇ</li>
                        <li>TERAZİ </li>
                    </ul>
                    <h2>Uyumlu Olduğu Çakra; </h2>
                    <ul>
                        <li>5.Boğaz çakrası</li>
                        <li>4.Kalp çakrası</li>
                    </ul>

                </p>
            </main>
        </section>
        
    </div>
</body>
</html>








