
@{
    ViewBag.Title = "Gunestası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>
 
        <section>
   

            <main>
                <h1>Güneş Taşı</h1>
                <img id="akikrsm" src="~/images/gunes.jpg" alt="" width="400" height="300" />
                <p class="akiyazı">
                    Özgürlük simgesi olan bu taş kişisel gücün boşa
                    harcanmamasını sağlar. Vereceği enerji ile liderlik duygusunu
                    harekete geçirir. Güneş Taşı ‘Yang’ dengesini, Aytaşı ise ‘Yin’
                    dengesini sağlar.
                    <h2>Burçları;</h2>
                    <ul>
                        <li>Aslan,</li>
                        <li>İkizler,</li>
                        <li>Koç, </li>
                        <li> Terazi </li>
                    </ul>

                    <h2>Uyumlu Olduğu Çakra</h2>
                    Bütün Çaklara uyumlu.

                </p>
            </main>
        </section>
       
    </div>
</body>
</html>



