
@{
    ViewBag.Title = "Iletısım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>İletişim</title>
<html>



<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <div id="container">
     

        <section>
     

            <main>
                <h1>İLETİŞİM</h1>

                <i class="fas fa-phone"></i>  <strong>Telefon:</strong> +90 05060591744  <br> <br><br>
                <i class="fas fa-map-marker-alt"></i> <strong> Açık adres:</strong> Ortabayır Mahallesi Nazlı Sokak Çeden İNŞ NO:2 <br><br><br><br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5058.370095535774!2d28.996955557835125!3d41.075006638427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab658bea1034b%3A0x172574a258c24b75!2zT3J0YWJhecSxciwgTmF6bMSxIFNrLiwgMzQ0MTMgS8OixJ_EsXRoYW5lL8Swc3RhbmJ1bA!5e0!3m2!1str!2str!4v1638304801904!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </main>
        </section>
       
    </div>
</body>
</html>


