
@{
    ViewBag.Title = "İyolit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>ABSOLİT</title>
<html>
  

<body>
    <div>
        <section>
     
            <main>
                <h1>İyolit</h1>
                <p class=""></p>
                <img id="" src="~/images/iyolit.jpg" alt="" width="400" height="300" />

                <h3>İYOLiT / İOLİTE (Vizyon Taşı) </h3>  <br />
                İyolit İçerdiği element ve mineraller yardımı ile kanseri tedavi etmeye yardımcı olan bu taş genelde astroloji ile ilgilenenler ve medyumlar tarafından kullanılır.


                <h2>Burçları;</h2>
                <ul>
                    <li>  Yay</li>
                    <li>Terazi</li>
                    <li>Boğa</li>
                </ul>

                <h2> Uyumlu Olduğu Çakra;</h2>
                <ul>
                    <li>T 3.Göz Çakrası </li>
                    <li> 7.Taç Çakrası</li>
                    <li>5.Boğaz Çakrası</li>
                </ul>
                
                
            </main>
        </section>
       
    </div>
</body>
</html>






