
@{
    ViewBag.Title = "KaplanGözü";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>
    <div>
        <section>
            <main>
                <h1>Kaplan Gözü</h1>
                <img id="akikrsm" src="~/images/kaplan-gozu.jpg" alt="" width="400" height="300" />
                <p class="akiyazı">
                    <h2>Özellikleri</h2>
                    <ul>
                        <li> Boyun, migren ağrıları için yardımcı olur.</li>
                        <li> Bilinçaltı temizlemesinde katalizör görevini üstlenir.</li>
                        <li>Bütün organların uyum içinde çalışmasına yardımcı olur.</li>
                        <li>Yaşama gücü,canlılık ve dayanma gücü sağlar</li>
                    </ul>

                    <h2>Burçları;</h2>
                    <ul>
                        <li>  İkizler,</li>
                        <li>Akrep,</li>
                        <li>Oğlak, </li>
                        <li>Yengeç,</li>
                    </ul>
                    <h2>Uyumlu Olduğu Çakra;</h2>
                    <li>Alt Karın Çakrası (Sakral)</li>
                </p>
            </main>
        </section>
    </div>
</body>
</html>










