
@{
    ViewBag.Title = "Mercan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABSOLİT</title>
    <link rel="stylesheet" href="projem.css" />
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Teko:wght@300;400&display=swap"
          rel="stylesheet" />
</head>

<body>

    <div>
        <section>
         

            <main>
                <h1>Mercan</h1>
                <img id="akikrsm" src="~/images/mercan.jpg" alt="" width="400" height="300" />
                <p class="akiyazı">
                    <h2>Özellikleri</h2>
                    <ul>
                        <li> Kararlılık sağlar ve konsantrasyon eksikliğinigiderir.</li>
                        <li>Heyecanları, aşırı duygulanmaları ortadan kaldırır.</li>
                        <li>Kalbi ve dalağı kuvvetlendirir.</li>
                        <li>  Hormonsal sistemi dengeler.</li>
                    </ul>


                    <h2>Burçları;</h2>
                    <ul>
                        <l>Kova,</l>
                        <l>Balık </l>
                    </ul>

                    <h2>Uyumlu Olduğu Çakra;</h2>
                    <ul>
                        <li> 1.Kök Çakrası, </li>
                        <li> 2.Alt karın Çakrası</li>

                    </ul>

                </p>
            </main>
        </section>
        
    </div>
</body>
</html>











