
@{
    ViewBag.Title = "Spinel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>ABSOLİT</title>
<html>
<body>
  
    <div>
   
        <section>
           

            <main>
                <h1>Spinel(Umut taşı)</h1>
                <img id="" src="~/images/spinel.jpg" alt="" width="400" height="300" />
                <p class="akiyazı">
                    <br />
                    Spinel Taşı umut taşıdır. Çoğu ateşli kırmızı taş gibi, büyük tutkuyu, özveri ve uzun ömürlülüğü teşvik ettiğine inanılmaktadır. Vücudu deşarj etme özelliği vardır.

                    Doğal taşlardan Spinel Taşı, 1000 yılı aşkın bir süredir yakut ve safir ile karıştırılmış bir değerli taş mineralidir. Şimdiye kadar keşfedilen en görkemli spinellerden bazıları yakut veya safir oldukları varsayımı altında “Taç Mücevherleri” olarak kraliyet taçlarının yapımında kullanılmışlardır.

                    Spinel ne demek sorusunu incelediğimizde, latince “spina” kelimesinden geldiğini görmekteyiz. Bu, diken gibi keskin iğne oluşumları anlamına gelen sarkıtları ifade eder. Kırmızı, mavi, yeşil, renksiz, siyah ve kahverengi pek çok farklı rengi bulunur.

                    Spinel Taşı kolye, bileklik gibi takılarda ve mücevher yapımında sıklıkla kullanılan değerli bir taştır.

                    <h2>Spinel Taşı Özellikleri ve Faydaları:</h2>
                    <ul>
                        <li> Kırmızı Spinel sevginin sembolüdür.</li>
                        <li>Egoları bir kenara bırakmaya yardımcı olur.</li>
                        <li>Kullanan kişinin başka bir kişiye adanmasına yardımcı olduğu söylenir.</li>
                        <li> Çoğu ateşli kırmızı taş gibi, büyük tutkuyu, özveri ve uzun ömürlülüğü teşvik ettiğine inanılmaktadır.</li>
                        <li>Spinel, 1. Kök Çakra ile ilişkilidir, bu da onu fiziksel enerjiyi ve dayanıklılığı artırmada etkili kılar.</li>
                        <li> Unutkanlığı azalttığı ve entelektüel gücü artırdığı söylenir.</li>
                        <li> Zihinsel dayanıklılık üzerinde bir etkiye sahiptir.</li>
                        <li> Hastalıklara ve travmalara karşı etkilidir.</li>
                        <li> Negatif düşünceleri yok eder.</li>

                        <li> Özgüven duygusunu güçlendirir.</li>
                    </ul>



                    Doğal taşların titreşim ve frekanslara sahip olduğu bilinmektedir. Bu nedenle vücudumuzda bazı etkilere yol açtığı söylenmektedir. Taşların özelliklerinin bilimsel kesinliği yoktur. Fakat satışta olan ürünlerimiz orijinal, gerçek doğal taşlardır. Tıbbi konularda doktora danışmanızı tavsiye ederiz.



                    <h2>Spinel Taşı Nasıl Temizlenir: </h2>
                    Taşınızı aldığınızda kullanım öncesinde ve aralıklı olarak temizlemeniz önerilir. Yapılan temizlik, taşın enerjisini düzenler. Doğal taşların temizliği de doğal yollarla yapılır. Bu temizlikte dört element kullanılır. Takı ve objelerinizi taşınızın sertlik düzeyine göre aşağıdaki yöntemlerle temizleyebilirsiniz:


                    <h2>Burçları;</h2>

                    <ul>
                        <li>Boğa,</li>
                        <li>Akrep</li>

                    </ul>

                    <h2> Uyumlu Olduğu Çakra;</h2>
                    <ul>
                        <li>1. Kök Çakrası   </li>
                    </ul>
                </p>


            </main>
        </section>
       
    </div>
</body>
</html>




















